# Model
# github "ReSwift/ReSwift" ~> 4.0
github "ReactiveCocoa/ReactiveSwift" ~> 2.0
github "ReactiveCocoa/ReactiveCocoa" ~> 6.0

# Networking
# github "Alamofire/Alamofire" ~> 4.5
# github "Alamofire/AlamofireImage" ~> 3.2
# github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.2

# UI
github "SnapKit/SnapKit" ~> 4.0
github "ViccAlexander/Chameleon" ~> 2.2
github "hackiftekhar/IQKeyboardManager" ~> 4.0

# DI
github "Swinject/Swinject" ~> 2.1
github "Swinject/SwinjectAutoregistration" ~> 2.1
